<div id="footer" class="hidden-xs hidden-sm hidden-md">
				<div class="container">
					<div class="row message-padding">
						<div class="col-lg-9 col-md-9 col-sm-11 col-xs-12">
							<div class="row">
								<div class="col-lg-2 phone"><img src="__INDEXIMG__/phone.svg" style="padding-right: 5px;"><span>025-88888888</span></div>
								<div class="col-lg-3 emailw"><img src="__INDEXIMG__/email.svg" style="padding-right: 3px;"><a href="mailto:888@126.com"
									 target="_blank">1888@126.com</a></div>
								<div class="col-lg-6 phone"><img src="__INDEXIMG__/address.svg" style="padding-right: 5px;"><span>中国职业技术教育网国际合作交流工作委员会</span></div>
							</div>

							<div class="row">
								<div class="col-lg-3 copyright icp-t">
									<a href="#" target="_blank" style="text-decoration:none;"></a>·<a href="#" target="_blank">中国职业技术教育网国际合作交流工作委员会</a>承制</div>
								<div class="col-lg-3 copyright">版权所有©中国职业技术教育网国际合作交流工作委员会</div>
								<div class="col-lg-3 col-xs-6 copyright icp-w"><a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备：88888888号</a></div>

								<div class="col-lg-2 copyright"><img src="__INDEXIMG__/foot_admin.svg" style="padding-right: 5px;"><a href="admin_login.aspx"
									 target="_blank">管理登录</a>
								</div>
							</div>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
							<a href="#" target="_blank"><img src="__INDEXIMG__/blue.png"></a>
						</div>
						<div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
							<div class="row" style="padding-top:15px;">
								<div class="col-lg-4" onmouseover="$('#gzwm').show();" onmouseout="$('#gzwm').hide();"><img src="__INDEXIMG__/weixin.png"
									 alt="关注我们"></div>
								<div class="col-lg-4">
									<a href="#"><img src="__INDEXIMG__/xinlang.png" title="关注我们"></a>
								</div>
								<div class="col-lg-4">
									<a href="#"><img src="__INDEXIMG__/tengxun.png" title="关注我们"></a>
								</div>
							</div>
							<div style="position: absolute; top: -125px; left: -15%; display: none;" id="gzwm">
								<img src="" style="width: 100px;"> </div>
						</div>
					</div>
				</div>
			</div>
			