<header class="header">
			<a href="javascript:void(0)" class="logo">网站后台管理系统v1.0</a>
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle
						navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</a>
				<div class="navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown user user-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-user"></i>
								<span><span class="username"></span> <i class="caret"></i></span>
							</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<!-- <li class="user-header bg-light-blue">
								<img src="../static/img/avatar3.png" class="img-circle" alt="User Image" /> 
									<p class="username"></p>
								</li> -->
								<!-- Menu Footer-->
								<li class="user-footer">
									<div>
										<a style="width: 100%" href="#" class="btn btn-default btn-flat changePWD">修改密码</a>
									</div>

									<div>
										<a style="width: 100%" href="#" class="btn btn-default btn-flat logout">退出</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</header>