<section class="sidebar">
	<!-- Sidebar user panel -->

	<ul class="sidebar-menu">
		<li class="treeview active"><a href="#"> <i class="fa fa-table"></i> <span>网站管理</span> <i class="fa pull-right fa-angle-down"></i>
			</a>
			<ul class="treeview-menu" style="display: block;">
				<li><a href="user.html" style="margin-left: 10px;"> <i class="fa fa-angle-double-right"></i>用户管理
					</a></li>
				<li><a href="#" style="margin-left: 10px;"> <i class="fa fa-angle-double-right"></i>类别管理
					</a></li>
				<li><a href="#" style="margin-left: 10px;"> <i class="fa fa-angle-double-right"></i>内容管理
					</a></li>
				
				<li><a href="#" style="margin-left: 10px;"> <i class="fa fa-angle-double-right"></i>发布人管理
					</a></li>
				<li><a href="#" style="margin-left: 10px;"> <i class="fa fa-angle-double-right"></i>链接管理
					</a></li>
			</ul>
		</li>
	</ul>
</section>
